<!DOCTYPE html>
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 퍼그샘플
		link(rel="stylesheet" href="../css/all.min.css")
		link(rel="stylesheet" href="../css/bootstrap.min.css")
		link(rel="stylesheet" href="../css/reset.css")
		link(rel="stylesheet" href="../css/common.css")
		block css
		script(src="../js/jquery-3.5.1.min.js")
	body
		include ../include/_header.pug
		block content
		include ../include/_footer.pug
		block js
